.nav div { 
  /* background-image: url(bg.jpg); */
display: inline-block;
min-height: 50px; 
height: auto; 
}

.nav div.div1{
  width: 300px;
  color: crimson;
  font-size: 3em;
}

.nav div.clock{
  /* width: 100px; */
  color: rgb(189, 33, 64);
  font-size: 1.5em;
}